body {
	background-color: black;
	font-family: 'Roboto', sans-serif !important;
	/*text-align: center;*/
	background-color: #eaece5 !important;
	text-align: center;
}

#ethPrice {
	font-size: 25em;
}

.hiLo {
	font-family: monospace;
	font-size: 5em;
}

.weather {
	font-size: 3em;
}