body {
	background-color: black;
	font-family: 'Roboto', sans-serif !important;
	/*text-align: center;*/
	background-color: #eaece5 !important;
}

#ethPrice {
	font-size: 20em;
}

#lastUpdated {
	font-size: 2em;
}

.left {
	text-align: right;
	font-size: 5em;
}
.right {
	text-align: left;
	font-family: monospace;
	font-size: 5em;
}

.volumeBigChange {
	background-color: red;
}